{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": 2,
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 2
      }
    ],
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off"
  }
}
