.WaveForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 125px;
  width: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.WaveForm > div {
  display: none;
  position: relative;
  background: #b7c5e0;
  height: 100%;
  width: 15px;
  margin-right: 12px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: pulse 1.3s infinite;
}

//define sizes of wave bars
$dot: "10%";
$small: "30%";
$medium: "50%";
$large: "75%";
$full: "100%";
//define the waveform
$bar-heights: (
  $dot,
  $dot,
  $small,
  $medium,
  $full,
  $small,
  $dot,
  $small,
  $medium,
  $large,
  $dot,
  $dot,
  $small,
  $medium,
  $full,
  $small,
  $dot,
  $small,
  $medium,
  $large,
  $small,
  $dot,
  $small,
  $medium,
  $large,
  $dot,
  $dot
);

@for $i from 0 to length($bar-heights) {
  .WaveForm > div:nth-child(#{$i + 1}) {
    display: inline-block;
    @if($i%2 != 0) {
      animation-delay: $i * 0.15s;
    }
    height: unquote(nth($bar-heights, $i + 1));
  }
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(1);
  }
}
